service cloud.firestore {
  match /databases/{database}/documents {
    match /workspaces/{workspace}/{document=**} {
      allow read, write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.workspace == workspace
    }
    match /workspaces/{workspace} {
      allow read, write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.workspace == workspace
    }
    match /users/{document=**} {
    	allow read;
      allow write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.workspace == request.resource.data.workspace
    }
  }
}
